html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.gdr {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

[class^="gdc-"] {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gdr .gdc-lg-1 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-1 {
    grid-column: span 1;
  }
}
.gdr .gdc-lg-2 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-2 {
    grid-column: span 2;
  }
}
.gdr .gdc-lg-3 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-3 {
    grid-column: span 3;
  }
}
.gdr .gdc-lg-4 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-4 {
    grid-column: span 4;
  }
}
.gdr .gdc-lg-5 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-5 {
    grid-column: span 5;
  }
}
.gdr .gdc-lg-6 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-6 {
    grid-column: span 6;
  }
}
.gdr .gdc-lg-7 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-7 {
    grid-column: span 7;
  }
}
.gdr .gdc-lg-8 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-8 {
    grid-column: span 8;
  }
}
.gdr .gdc-lg-9 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-9 {
    grid-column: span 9;
  }
}
.gdr .gdc-lg-10 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-10 {
    grid-column: span 10;
  }
}
.gdr .gdc-lg-11 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-11 {
    grid-column: span 11;
  }
}
.gdr .gdc-lg-12 {
  grid-column: 1/-1;
}
@media screen and (min-width: 1200px) {
  .gdr .gdc-lg-12 {
    grid-column: span 12;
  }
}
.gdr .gdc-md-1 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-1 {
    grid-column: span 1;
  }
}
.gdr .gdc-md-2 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-2 {
    grid-column: span 2;
  }
}
.gdr .gdc-md-3 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-3 {
    grid-column: span 3;
  }
}
.gdr .gdc-md-4 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-4 {
    grid-column: span 4;
  }
}
.gdr .gdc-md-5 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-5 {
    grid-column: span 5;
  }
}
.gdr .gdc-md-6 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-6 {
    grid-column: span 6;
  }
}
.gdr .gdc-md-7 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-7 {
    grid-column: span 7;
  }
}
.gdr .gdc-md-8 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-8 {
    grid-column: span 8;
  }
}
.gdr .gdc-md-9 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-9 {
    grid-column: span 9;
  }
}
.gdr .gdc-md-10 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-10 {
    grid-column: span 10;
  }
}
.gdr .gdc-md-11 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-11 {
    grid-column: span 11;
  }
}
.gdr .gdc-md-12 {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  .gdr .gdc-md-12 {
    grid-column: span 12;
  }
}
.gdr .gdc-sm-1 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-1 {
    grid-column: span 1;
  }
}
.gdr .gdc-sm-2 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-2 {
    grid-column: span 2;
  }
}
.gdr .gdc-sm-3 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-3 {
    grid-column: span 3;
  }
}
.gdr .gdc-sm-4 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-4 {
    grid-column: span 4;
  }
}
.gdr .gdc-sm-5 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-5 {
    grid-column: span 5;
  }
}
.gdr .gdc-sm-6 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-6 {
    grid-column: span 6;
  }
}
.gdr .gdc-sm-7 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-7 {
    grid-column: span 7;
  }
}
.gdr .gdc-sm-8 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-8 {
    grid-column: span 8;
  }
}
.gdr .gdc-sm-9 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-9 {
    grid-column: span 9;
  }
}
.gdr .gdc-sm-10 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-10 {
    grid-column: span 10;
  }
}
.gdr .gdc-sm-11 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-11 {
    grid-column: span 11;
  }
}
.gdr .gdc-sm-12 {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .gdr .gdc-sm-12 {
    grid-column: span 12;
  }
}
.gdr .gdc-xs-1 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-1 {
    grid-column: span 1;
  }
}
.gdr .gdc-xs-2 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-2 {
    grid-column: span 2;
  }
}
.gdr .gdc-xs-3 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-3 {
    grid-column: span 3;
  }
}
.gdr .gdc-xs-4 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-4 {
    grid-column: span 4;
  }
}
.gdr .gdc-xs-5 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-5 {
    grid-column: span 5;
  }
}
.gdr .gdc-xs-6 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-6 {
    grid-column: span 6;
  }
}
.gdr .gdc-xs-7 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-7 {
    grid-column: span 7;
  }
}
.gdr .gdc-xs-8 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-8 {
    grid-column: span 8;
  }
}
.gdr .gdc-xs-9 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-9 {
    grid-column: span 9;
  }
}
.gdr .gdc-xs-10 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-10 {
    grid-column: span 10;
  }
}
.gdr .gdc-xs-11 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-11 {
    grid-column: span 11;
  }
}
.gdr .gdc-xs-12 {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .gdr .gdc-xs-12 {
    grid-column: span 12;
  }
}

html {
  font-size: 62.5%;
}

[class^="container"] {
  padding: 1.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: auto;
}
@media screen and (min-width: 1170px) {
  .container {
    width: 117rem;
  }
}

.container-fullwidth {
  max-width: 100%;
  width: 100%;
}

/*# sourceMappingURL=gridyard.css.map */
